* { 
	margin: 0;
 	padding: 0 
}

body {
	margin-top: 0;
	font-family: 'Roboto', sans-serif;
}



#main_title{
	width:100%;
	top: 0px;
	position: fixed;
	background-color: #3366ff;
	overflow: hidden;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;  
}

/* Menu bar */
.navbar {
	/*box-sizing: border-box;*/
	width:100%;
	/*height: 70px;*/
	top: 30px;
	position: fixed;
	background-color: #0DA0FF;
	overflow: hidden;
	/*padding-top: 10px;
	padding-bottom: 15px;*/
	/*color: white;*/
	/*text-align: center;*/
	/*font-size: 200%;*/
}

#openSide{
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 10px 20px;
	/*font-size: 5px;*/
	display: block;
}

.navbar a{
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 20px 20px;
	font-size: 17px;
	display: block;
}

p {
	height
}

a {
	color: white;
	text-decoration:none;
}

/* button that opens side nav */
/*#openSide {
	position: absolute;
	padding-left: 8px;
	padding-top: 8px;
}*/

::-webkit-scrollbar {
    width: 0px;   
}

/* side menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0DA0FF;
    overflow-x: hidden; 
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 30px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.5s;
    text-align: center;
}

.sidenav a:hover {
    color: gray;
}

/* X for sidenav */
.closebtn {
	position: absolute;
    top: 20px ;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
input[type=text] {
	position: fixed;
	right: 50px;
	  float: right;

    /*padding: 6px;*/
/*    border: none;
    margin-top: 15px;
    margin-right: 16px;
    font-size: 17px;*/
	  padding: 6px;
	  margin-top: 15px;
	  font-size: 17px;
	  border: none;
}
/* button that opens side nav */
#openSearch {
	position: absolute;
	right: 0px;
	padding-right: 8px;
	padding-top: 8px;
}

.articles {
	/*margin: 0 auto;*/
	margin-top: 50px;
	margin-left: 10%;
	margin-right: 10%;
	/*position: relative;*/
	background-color: white;
	width: 100%;
	/*margin: 200px;*/
	padding-top: 60px;
	/*padding-left:100px;*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap
}

.article {
	/*position: fixed;*/
	/*margin-top: 100px;*/
	width: 20%;
	border-style: solid;
	border-width: 2px;
	overflow: auto;
}

.article:not(:first-child) {
	border-top: 0px;
}





.thumbnail img{
	width: 100%;
}

/*smaller devices*/
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}

  input[type=text] {
  	float: none;
    display: block;
    text-align: left;
    width: 70%;
    margin: 8px;
    padding: 14px;
    display: none;
  }
}
